.center {
    list-style: none;
    text-align: center;
}

    .center li:before {
        content: "\2022"
    }
a {
   float: right;
    color: white;
    border-style: solid;
    border-color: black;
    background-color: blue;
    border-radius: 7px;
    padding: 2px;

}
